$desktop-breakpoint: 1290px;

$font-primary: 'Roboto', sans-serif;

// H 45
$font-size-h-45: 45px;
$line-height-h-45: 54px;
$font-weight-h-45: 500;

// H 40
$font-size-h-40: 40px;
$line-height-h-40: 48px;
$font-weight-h-40: 500;

// H 30
$font-size-h-30: 30px;
$line-height-h-30: 36px;
$font-weight-h-30: 500;

// Text 25 Medium
$font-size-t-25m: 25px;
$line-height-t-25m: 37.5px;
$font-weight-t-25m: 500;

// Text 22 Medium
$font-size-t-22m: 22px;
$line-height-t-22m: 30px;
$font-weight-t-22m: 500;

// Text 20 Medium
$font-size-t-20m: 20px;
$line-height-t-20m: 30px;
$font-weight-t-20m: 500;

// Text 20 Regular
$font-size-t-20: 20px;
$line-height-t-20: 30px;
$font-weight-t-20: 400;

// Text 18 Medium
$font-size-t-18m: 18px;
$line-height-t-18m: 27px;
$font-weight-t-18m: 500;

// Text 18 Regular
$font-size-t-18: 18px;
$line-height-t-18: 27px;
$font-weight-t-18: 400;

// Text 16 Bold
$font-size-t-16b: 16px;
$line-height-t-16b: 24px;
$font-weight-t-16b: 700;

// Text 16 Medium
$font-size-t-16m: 16px;
$line-height-t-16m: 24px;
$font-weight-t-16m: 500;

// Text 16 Regular
$font-size-t-16: 16px;
$line-height-t-16: 24px;
$font-weight-t-16: 400;

// Text 15 Regular
$font-size-t-15: 15px;
$line-height-t-15: 22.5px;
$font-weight-t-15: 400;

// Text 14 Medium
$font-size-t-14m: 14px;
$line-height-t-14m: 21px;
$font-weight-t-14m: 500;

// Text 14 Regular
$font-size-t-14: 14px;
$line-height-t-14: 21px;
$font-weight-t-14: 400;

@mixin font-set($size, $line, $weight) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
}